body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.weather-app {
  max-width: 700px;
  margin: 40px auto;
  border: 3px solid #5f0e04;
  border-radius: 5px;
}
h1 {
  color: blue;
  font-size: 25px;
  font-weight: 100;
  line-height: 20px;
  margin-bottom: 0;
}
ul {
  margin: 0;
  padding: p;
}
li {
  color: #fc0681;
  font-size: 16px;
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: 100;
  line-height: 19px;
}
